section {
  max-width: 40rem;
  margin: 3rem auto;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.meetup {
  margin: 1rem 0;
  background-color: #000000;
  padding: 2rem;
  color: white;
  border-radius: 4px;
}

.meetup-summary {
  display: flex;
  align-items: flex-start;
}

.meetup-image {
  margin-right: 2rem;
}

.meetup-image img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
}

.meetup-details h3 {
  color: inherit;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.meetup-details address {
  font-style: italic;
}

.meetup-actions {
  margin-top: 1.5rem;
  text-align: right;
}

.meetup-actions .btn {
  background-color: #e6d5a8;
  border-color: #750000;
  color: #000000;
  padding: 0.75rem 2rem;
  border-radius: 10px;
  font-size: 1rem;
}

.meetup-actions .btn:hover {
  background-color: #af0000;
  border-color: #750000;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.search-block {
  max-width: 60rem;
  margin: auto;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: #e6d5a8;
  border: 4px solid #750000;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
  position: relative;
  text-align: center;
  width: fit-content;
}
