@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #e7dec6;
  color: #3e3e41;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #222224;
}

button,
.btn {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: #e6d5a8;
  border: 1px solid #750000;
  color: #000000;
  border-radius: 4px;
  text-decoration: none;
}

button:hover,
.btn:hover {
  background-color: #af0000;
  border-color: #750000;
  color: white;
}

#main-header {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}

#main-header h1 {
  font-size: 1.5rem;
}

#main-logo {
  font-size: 3rem;
  font-family: 'Roboto Slab', sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  margin: 0 auto;
}

.navbar {
  position: relative;
  margin: 0 20px;
}

.nav-buttons {
  position:absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
}

#logout-form {
  display: inline;
}
#logout-form button {
  margin: 0;
}

a {
  color: #750000;
  text-decoration: none;
  font-weight: bold;
}

.user-info {
  color: #750000;
  text-decoration: none;
  margin: 8px 0;
}

/* .logout-btn, .user-info {
} */