<li class="news">
    <article>
        <div class='news-summary'>
            <div class='news-image'>
                <img src="{{ news.image.url }}" alt="news_img">
            </div>
            <div class='news-details'>
                <h3>{{news.title}}</h3>
                <h5>Written by {{news.author}}</h5>
                {% if news.description %}
                    <p>{{news.description}}</p>
                {% endif %}
                
            </div>
        </div>
        <div class='news-actions'>
            <a href="{% url "meetups:news-details" news.slug %}" class='btn'>Read More</a>
        </div>
    </article>
</li>