{%extends 'meetups/base/base.html'%}
{%load static%}
{%block title%}I'm Going!{%endblock%}

{%block css_files%}
    <link rel="stylesheet" href="{% static 'meetups/styles/going.css' %}">
{%endblock%}

{%block main_heading%}

{%endblock%}

{% block header_content %}
{% endblock %}

{% block body %}
{% csrf_token %}
<section>
    <article class='about'>
        <img class="main-image" src="{{ user.image.url }}" alt="Profile Picture">
        <h2 class='full_name'>{{user.full_name}}</h2>
        <h3 class='user_email'>{{user.email}}</h3>
    </article>


    <h1 class='title'>Your Favorite Meetups</h1>
    <h2>I'm Going</h2>
    <div id="going-meetups">
        {% if not has_meetups %}
            <p>You haven't added any Meetups to this list yet</p>
        {% endif %}

        <ol>
            {% for meetup in meetups %}
                {% if meetup.is_published and not meetup.is_archived %}
                    {% include "meetups/includes/meetup.html" %}
                {% endif %}
                {% comment %} <li><a href="{% url "meetups:meetup-details" meetup.slug %}">{{meetup.title}}</a></li> {% endcomment %}
            {% endfor %}
        </ol>
    </div>
</section>

<section>
    <h2>I Visited</h2>
    <div id="visited-meetups">
        {% if not has_meetups %}
            <p>You haven't visited any Meetups yet</p>
        {% endif %}

        <ol>
            {% for meetup in meetups %}
                {% if meetup.is_archived %}
                    {% include "meetups/includes/meetup.html" %}
                {% endif %}
                {% comment %} <li><a href="{% url "meetups:meetup-details" meetup.slug %}">{{meetup.title}}</a></li> {% endcomment %}
            {% endfor %}
        </ol>

    </div>
</section>
{% endblock %}