{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Meetups{%endblock%}</title>
    <link rel="stylesheet" href="{%static 'meetups/styles/base.css'%}">
    <link rel="icon" href="{% static 'meetups/images/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'meetups/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'meetups/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'meetups/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'meetups/images/site.webmanifest' %}">
    {%block css_files%}{%endblock%}
</head>
<body>
    {% csrf_token %}
    <header id='main-header'>
        <nav class='navbar'>
            <a href="/" id='main-logo'>WeMeet!</a>
            <div class="nav-buttons">
                
                {% if user.is_authenticated %}
                    <p class="user-info">User: {{ user.get_username }}</p>
                   <form id="logout-form" method="post" action="{% url 'logout' %}">
                     {% csrf_token %}
                     <button type="submit" class="btn btn-link logout-btn">Logout</button>
                   </form>
                {% else %}
                    <a href="{% url 'login' %}?next={% url 'main' %}" class='btn btn-link'>Login</a>
                    {% comment %} <a href="{% url 'login' %}?next={{ request.path }} class='btn btn-link'">Login</a> {% endcomment %}
                {% endif %}
                
                <a href="/news" class="btn" id='news-page'>News</a>
                <a href="/meetups" class="btn" id='meetups-page'>Meetups</a>
                <a href="/archive" class="btn" id='archived-meetups-page'>Meetups Archive</a>
            </div>
        </nav>
        <h1>{%block main_heading%}{%endblock%}</h1>
        <h3>{%block header_content%}{%endblock%}</h3>
    </header>
    <main>
        {%block body%}{% endblock %}
    </main>
</body>
</html>